{
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 2019 
  },
  "rules": {
    "semi": ["error", "always"],
    "no-unused-vars": "warn",
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }]
  }
}
