migrations/
node_modules/
lib/commands/generated.js
.tern-port
VCSeeder/
Seeder/
*.db
.DS_Store
.idea
test/db.config.json
database.json
*.sublime-project
*.sublime-workspace
archive
.db-migraterc
coverage.html

# Vim swap files
.*.sw[a-z]
